.idea/
.idea/github_cigram.iml
.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml_bk
.idea/workspace.xml
cigram/cmodel.so
*.so
build/*
.eggs/*
.cache/*
cigram.egg-info/
cigram/__pycache__/
dist/*
tests/__pycache__/*

env/*
venv/*

*.bak

.pytest_cache/*
.ipynb_checkpoints/*

*/__pycache__/*
